@inject IEventService EventService

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.End" Gap="0.5rem" class="rz-p-2 rz-mb-2">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="0.5rem" class="rz-mb-1">
        <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
        <RadzenLabel Text="Virtualisering" Component="allowVirtualization" />
    </RadzenStack>
</RadzenStack>

<RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:600px;overflow:auto;" : "")"
WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
Data="@Events" TItem="Event" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
    <Template Context="ev">

        <RadzenCard Variant="Variant.Outlined" class="rz-p-0" Style="width: 100%; overflow: hidden;">
            <RadzenRow Gap="0">
                <RadzenColumn Size="12" SizeLG="2" class="rz-p-4" Style="min-height: 72px; background-color: var(--rz-secondary-lighter);">
                    <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start">
                        <RadzenText class="rz-color-grey rz-mb-2" Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px">
                            @($"{ev.Date:dddd dd/MM/yyyy}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Title:</strong>
                            @($"{ev.Title}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Tidspunkt:</strong>
                            @($"{ev.Date:HH:mm}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Lærred:</strong>
                            @($"{ev.Screen}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Varighed:</strong>
                            @($"{ev.DurationInMinutes} minuter")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Ejer:</strong>
                            @($"{ev.Owner}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Eventtype:</strong>
                            @($"{ev.EventType}")
                        </RadzenText>

                        <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                            <strong style="display: block;">Tagbio:</strong>
                            @($"{(ev.IsRooftop == false ? "Nej" : "Ja")}")
                        </RadzenText>
                    </RadzenStack>
                </RadzenColumn>

                <RadzenColumn Size="12" SizeLG="3" class="rz-p-4">
                    <RadzenRow>
                        <RadzenStack Gap="1rem" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Style="width: 100%;">

                            <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                Filmvisninger
                            </RadzenText>

                            @if (ev.Films?.Count > 0)
                            {
                                @foreach (var film in ev.Films ?? [])
                                {
                                    <RadzenText TextStyle="TextStyle.Body2" class="rz-color-grey">
                                        <strong style="display: block;">@($"{film.Title}")</strong>
                                        <p>@($"{film.DurationInMinutes} minutter")
                                            <span style="padding-left: 10px;">@($"{film.Format}")</span>
                                        </p>
                                    </RadzenText>
                                }
                            }
                            else
                            {
                                <RadzenText class="rz-color-warning" Style="font-size: 1rem;">
                                    Tilføj film...
                                </RadzenText>
                            }
                        </RadzenStack>
                    </RadzenRow>
                </RadzenColumn>

                <RadzenColumn Size="12" SizeLG="7" class="rz-p-4">
                    <RadzenRow class="scrollable" Style="overflow-x: auto; overflow-y: hidden; white-space:nowrap; max-height: 100%; padding-bottom: 20px">
                        <RadzenStack Gap="1.02rem" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Style="width: 100%; height: 100%;">
                            <RadzenRow Gap="1.7rem" Style="display: flex; flex-wrap: nowrap;">

                                <div style="width: 40px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Nøgle
                                    </RadzenText>
                                </div>

                                <div style="width: 110px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Bestilt
                                    </RadzenText>
                                </div>

                                <div style="width: 110px; margin-left: 5px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Modtaget
                                    </RadzenText>
                                </div>           

                                <div style="width: 110px; margin-left: 5px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Klargjort
                                    </RadzenText>
                                </div>

                                <div style="width: 110px; margin-left: 5px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Film Ok
                                    </RadzenText>
                                </div>

                                <div style="width: 150px; margin-left: 5px;">
                                    <RadzenText class="rz-color-grey rz-mb-2 " Style="font-size: 1rem; border-bottom: 1px solid lightgrey; padding-bottom: 11px;">
                                        Kommentar
                                    </RadzenText>
                                </div>

                                <div style="width: 40px; margin-left: 5px;">
                                    <DeleteEventDialog EventId="ev.Id" DialogConformation="HandleDeleteConfirmamtion" />
                                </div>
                            </RadzenRow>

                            @foreach (var eventFilmStatus in ev.FilmStatuses ?? [])
                            {
                                <UpdateFilmStatusForm FilmStatus="@eventFilmStatus" OnValidFilmStatusSumbit="HandleFilStatusUpdate" />
                            }
                        </RadzenStack>
                    </RadzenRow>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </Template>
</RadzenDataList>

<style>
    .event-info {
    min-height: 72px;
    background-color: var(--rz-secondary-lighter);
    }
</style>

@code {
    [Parameter]
    public List<Event> Events { get; set; } = new();

    [Parameter]
    public EventCallback<FilmStatus> OnUpdateFilmStatus { get; set; }

    [Parameter]
    public EventCallback<(bool confirmation, int eventId)> DeleteConfirmation { get; set; }

    private bool allowVirtualization;

    private async Task HandleFilStatusUpdate(FilmStatus filmStatus)
    {
        await OnUpdateFilmStatus.InvokeAsync(filmStatus);
    }

    private async Task HandleDeleteConfirmamtion((bool confirmation, int eventId) result)
    {
        await DeleteConfirmation.InvokeAsync((confirmation: result.confirmation, eventId: result.eventId));
    }
}
